.buttonsContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    height: 50px;
    width: 90%;
}

.buttonsContainer button {
    display: block;
    width: 100%;
    background-color: #FFD4DB;
    border: 1px solid rgba(0, 0, 0, 0.295);
    font-size: 1.5em;
    border-radius: 10px;
}

.buttonsContainer button:active {
    transform: scale(0.95);
}