.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-size: 3.5em;
}

@media (max-width: 700px) {
    .timerContainer {
        height: 30vh;
        width: 35vh;
    }
}